@font-face {
  font-family: 'PFDinTextCompProBold';
  src: url('../fonts/pfdintextcomppro-bold.eot#') format('eot'),
  url('../fonts/pfdintextcomppro-bold.woff') format('woff'),
  url('../fonts/pfdintextcomppro-bold.ttf')  format('truetype'),
  url('../fonts/pfdintextcomppro-bold.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCompProMedium';
  src: url('../fonts/pfdintextcomppro-medium.eot#') format('eot'),
  url('../fonts/pfdintextcomppro-medium.woff') format('woff'),
  url('../fonts/pfdintextcomppro-medium.ttf')  format('truetype'),
  url('../fonts/pfdintextcomppro-medium.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextCompProLight';
  src: url('../fonts/pfdintextcomppro-light.eot#') format('eot'),
  url('../fonts/pfdintextcomppro-light.woff') format('woff'),
  url('../fonts/pfdintextcomppro-light.ttf')  format('truetype'),
  url('../fonts/pfdintextcomppro-light.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'News706BT-RomanC';
  src: url('../fonts/News706BT-RomanC.eot#') format('eot'),
  url('../fonts/News706BT-RomanC.woff') format('woff'),
  url('../fonts/News706BT-RomanC.ttf')  format('truetype'),
  url('../fonts/News706BT-RomanC.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'News706BT-ItalicC';
  src: url('../fonts/News706BT-ItalicC.eot#') format('eot'),
  url('../fonts/News706BT-ItalicC.woff') format('woff'),
  url('../fonts/News706BT-ItalicC.ttf') format('truetype'),
  url('../fonts/News706BT-ItalicC.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'News706BT-BoldC';
  src: url('../fonts/News706BT-BoldC.eot#') format('eot'),
  url('../fonts/News706BT-BoldC.woff') format('woff'),
  url('../fonts/News706BT-BoldC.ttf')  format('truetype'),
  url('../fonts/News706BT-BoldC.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/inconsolata.eot#') format('eot'),
  url('../fonts/inconsolata.woff') format('woff'),
  url('../fonts/inconsolata.ttf')  format('truetype'),
  url('../fonts/inconsolata.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Iconic';
  src: url('../fonts/iconic.eot#') format('eot'),
  url('../fonts/iconic.woff') format('woff'),
  url('../fonts/iconic.ttf')  format('truetype'),
  url('../fonts/iconic.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}
