// Typography
$sans-serif: "PFDinTextCompProBold", Impact, Arial, sans-serif;
$serif: "News706BT-RomanC", Georgia, serif;
$base-font-family: $serif;
$header-font-family: $sans-serif;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);

// colors
$black: black;
$gray: #f5f5f5;
