<main ng-controller="MainController as main" class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search {{ main.all.length }} tech definitions" ng-model="main.query" value="main.query">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>

  <ul class="filter">
    <li ng-repeat="letter in main.letters">
      <a href="#" ng-click="main.sort(letter)">{{ letter | uppercase }}</a>
    </li>
  </ul>

  <ul class="results">
    <li ng-repeat="item in main.all | startsWithLetter:main.query">
      <h2><a href="#" ng-click="main.define(item)">{{ item.word }}</a></h2>
    </li>
  </ul>
</main>
