<main ng-controller="MainController as main" class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search {{ main.all.length }} definitions" ng-model="main.query" value="main.query">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button" ng-click="main.clear()">Clear</button>
        </span>
      </div>
    </div>
  </div>

  <div class="list-group results">
    <a href="#" class="list-group-item" ng-repeat="item in main.all | startsWithLetter:main.query | orderBy: 'word'" data-toggle="modal" data-target="#definition_{{item.word}}" ng-click="main.open(item)">
      {{ item.word }}
    </a>
  </div>
</main>
